.k-grid td {
    padding: 1.1em 0.686em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 10px;
}
 .k-grid-header th.k-header {
    padding: .55em .4em;
}
.k-filter-row th{
	padding: .5em .6em;
}
.k-filtercell>span {
    min-height: 20px;
    line-height: 20px;
}
.k-autocomplete .k-input, .k-textbox>input {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-indent: 0.1em;
    /*width: calc(100% - 1.1em);*/
}
.k-dropdown .k-state-default {
    height: 20px;
}
.k-dropdown-wrap .k-input{
	line-height: 20px;
}
.k-numeric-wrap .k-input{
 	height: 20px;
	line-height: 20px;	
}
.k-state-default>.k-select {
    line-height: 20px;
    padding: 0;
}
.k-numeric-wrap.k-state-default {
    height: 20px;
}
.k-numerictextbox .k-link {
    height: 10px;
}
.k-grid-header th.k-header>.k-link {
    font-size: 11px;
    font-weight: bold;
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
}
span.k-icon.k-i-filter:before {
    font-size: 14px;
}
span.k-icon.k-i-arrow-60-up:before {
    font-size: 14px;
}
span.k-icon.k-i-arrow-60-down:before {
    font-size: 14px;
}
.k-filtercell>span {
    padding-right: 2.714em;
}
.k-filter-row .k-dropdown-operator {
    width: 1.3em;
    right: 0;
}
.k-filtercell>span>.k-button {
    line-height: 20px;
    height: 20px;
    padding: 4px;
    width: 1.4em;
}
span.k-icon.k-i-filter-clear:before {
    font-size: 13px;
}
/*:-webkit-full-screen #testgrid {
  font-size: 20px;
  width: 90%;
}
:-moz-full-screen #testgrid {
  font-size: 20px;
  width: 90%;
}*/
div#testgrid {
    width: 100%;
}
.k-dropdown-wrap, .k-numeric-wrap, .k-picker-wrap {
    padding: 0 1em 0 0;
}
.k-dropdown-wrap .k-select, .k-numeric-wrap .k-select, .k-picker-wrap .k-select{
    width: 1.3em;
}
.k-filtercell>span {
    padding-right: 1.3em;
}
.k-nodata {
    min-height: auto;
    width: 100%;
    font-size: .8em;
     z-index: 9999999999999999999999999999 !important;
      position:relative;
}

.k-list-container.k-popup.k-group.k-reset {
    width: max-content !important;
    width: -moz-max-content !important;
    font-size: 15px !important;
    padding: 0;
    z-index: 9999999999999999999999999999 !important;
     position:relative;
}
.k-nodata>div {
    padding: 7px 10px;
}
.k-autocomplete>.k-i-close {
    right: 0;
    width: 0.8em;
    background: #fff;
    top: 10px;
}
.k-i-close:before {
    width: 0.8em;
    height: 0.8em;
    line-height: 1;
    font-size: 0.8em;
    margin: 0;
    right: 2px;
    left: auto;
    top: 2px;
}
.k-autocomplete.k-state-border-down .k-input {
    text-indent: 0.1em;
}
.k-numeric-wrap .k-input {
    font-size: 10px;
    text-indent: 0.2em;
    padding: 0;
}
span.k-icon.k-i-warning {
    font-size: 12px;
}
.k-numeric-wrap .k-select{
    width: 1.1em;
}
.k-autocomplete.k-state-focused {
    background: #fff;
}
.k-autocomplete{
    background-color: #fff;
}
:-webkit-full-screen{
    z-index: 0 !important;
}
:-moz-full-screen{
    z-index: 0 !important;
}
.k-animation-container {
    z-index: 9999999999999999999999999999 !important;
     position:relative;
}
input.k-input.k-textbox {
    position: static;
}
.k-picker-wrap .k-input {
line-height: 20px;
padding: 0;
font-size: 11px;
}
.k-grid tbody tr {
height: auto !important;
}

.k-filtercell>span>label {
vertical-align: middle;
font-size: 12px;
display: block;
margin-bottom: 0;
}
